.admin-container{
display:flex;
min-height:100vh;
}


/* MAIN CONTENT */

.admin-content{
flex:1;
padding:30px;
background:#f5f6fa;
overflow-y:auto;
}


/* FORM CARD */

.form-card{
background:white;
padding:25px;
border-radius:10px;
max-width:420px;
margin:auto;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}


/* TITLE */

.form-card h3{
text-align:center;
color:#072946;
margin-bottom:15px;
}


/* FORM */

form{
display:flex;
flex-direction:column;
}


label{
margin-top:12px;
margin-bottom:4px;
font-weight:500;
color:#072946;
text-align:left;
}


input,
textarea,
select{

width:100%;
padding:9px;

border:1px solid #ccc;
border-radius:6px;

font-size:13px;
outline:none;

}


textarea{
resize:none;
min-height:70px;
}


input:focus,
textarea:focus,
select:focus{
border-color:#07458b;
}


/* BUTTON */

.submit-btn{

margin-top:15px;

padding:10px;

background:#28a745;
color:white;

border:none;
border-radius:6px;

cursor:pointer;

}

.submit-btn:hover{
background:#23923d;
}



/* RESPONSIVE */

@media(max-width:768px){

.admin-content{
padding:20px;
}

.form-card{
max-width:100%;
}

}


@media(max-width:480px){

.form-card{
padding:15px;
}

input,
textarea,
select{
font-size:12px;
padding:7px;
}

}